<strong>Welcome to the Releaf Family!</strong><br><br>

We’re on a mission to transform Africa via entrepreneurship & technology.<br>
Thank you for becoming a part of this mission.<br><br>

To get started, we need to confirm your email address, so please click this link to finish creating your account:<br><br>

<a href="{{verification_url}}">Confirm your email address</a><br><br>

Use your newly created Ikeora account to get started and create projects for your business so our world class consultants can begin driving results for you and your organization.<br><br>

We welcome your feedback, ideas and suggestions. We really want this to be an amazing experience for all involved, so if we’re falling short or should be doing something different, we want to hear about it. Send us an email at info@releaf.ng.<br><br>

Thanks!