Hi {{firstname}},

You recently requested to change the password for your <strong>Ikeora Account</strong><br> 
account. Click the link below to reset it.<br>

<a href="{{link}}">{{link}}</a><br><br>


If you didn't request to change your Ikeora password, you don't have to do anything.<br>
This password reset link can only be used once. <br>

With love <br>
The Releaf Team <br>

<p>
	<strong>P.S</strong> we also love hearing from and helping  you with any issues you have. <br>
	Please reply to this email if you have any <strong>issues</strong>, <strong>feedback</strong> <br>
	or just say hi.
</p>

<hr>

<p><small>If you are having trouble clicking the  password reset button, Copy and Paste <br>
the following link {{link}}
</small></p>